<% if request.url != "http://localhost:3000/users/" + current_user.id.to_s + "/articles/" + @article[:id].to_s %>
    <%= render 'article' %>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<% if @article.comments.exists?%>
    <h2>Comments:</h2>
    <%= render @article.comments %>
<% end %>


<h2>Add a comment:</h2>
<% @url = @article.id.to_s + "/comments" %>
<%= form_for(@comment, :url => @url) do |f| %>
    <%= f.hidden_field :commenter, :value => @user.name %>
    <p>
        <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

<= link_to 'Back', articles_path %> |
<= link_to 'Edit', edit_article_path(@article) %>